<div class="container-md border">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Str</th>
                <th scope="col">Dex</th>
                <th scope="col">Con</th>
                <th scope="col">Int</th>
                <th scope="col">Wis</th>
                <th scope="col">Cha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row"><%= character.strength %></th>
              <td><%= character.dexterity %></td>
              <td><%= character.constitution %></td>
              <td><%= character.intelligence %></td>
              <td><%= character.wisdom %></td>
              <td><%= character.charisma %></td>
            </tr>
        </tbody>
    </table>

</div>

<!-- <h2>Stats</h2>
<h3>Strength: <%= character.strength %> </h3>
<h3>Dexterity: <%= character.dexterity %></h3>
<h3>Constitution: <%= character.constitution %></h3>
<h3>Intelligence: <%= character.intelligence %></h3>
<h3>Wisdom: <%= character.wisdom %></h3>
<h3>Charisma: <%= character.charisma %></h3> -->