<button type="button" style="width: 8rem" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= condition %>">
    <%= condition %>
  </button>
  
  <!-- Modal -->
  <div class="modal fade text-dark" id="exampleModal-<%= condition %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= condition %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                <% for (let d in conditions[condition]) { %>
                    
        
                    <li><%= conditions[condition][d] %> </li>
                
                <% } %>

            </ul>
        </div>
        <div class="modal-footer">
            <form action= "/character/<%= character.id%>/remove/condition/<%= condition %>/<%= room.id %>" method="POST"><button id="remove-condition" class="btn btn-danger">Remove Condition</button></form>
        </div>
      </div>
    </div>
  </div>