<%- include('../partials/head') %>
<%- include('../partials/loggedInNavbar') %>


<div class="container bg-dark rounded-3 shadow" id="room-container">
  <div class="container text-light p-5">
    
    <h1>Room Name: <%= room.name %></h2>
      <h3>Room Id: <%= room.id %> </h3>
    <div class="d-flex flex-row">
      <div class="d-flex">

        
<%- include('../partials/userCharactersForm', {myCharacters: myCharacters}) %>
        </form>
      </div>
    </div>
  </div>
  

  <!-- <h3>Players</h3>
  <ul id="players">
  <% for (let i = 0; i <players.length ; i++) { %>
      <li> <%= players[i].name %></li>
  <% } %>
  </ul> -->


  <h3>Characters</h3>

  <div class="container" style="width: 100%" id="characters-container">
    <div>
      
    </div>
    
  <% for (let i = 0; i < characters.rows.length; i++) { %>
    <% let c = characters.rows[i]%>
    <div class=" d-flex justify-content-center row py-1">
      <%- include('../partials/characterCard', {character: c, room: room})%>

    </div>
    
    <% } %>
   
  </div>

</div>

<div class=" d-flex justify-content-end">
  <form action='/room/delete/<%= room.id %>' method="POST" >
    <button class='btn btn-danger'>Delete Room</button>
  </form>

</div>
<a href="/user/characters">Characters</a>
<a href="/user/rooms">Rooms</a>

<script>
  // pass jquery functions here


</script>


