<%- include('../partials/head') %>
<%- include('../partials/LoggedInNavbar') %>

<div class="container">
    <div class="container-md border">
        <h1>Character Name: <%= character.name %> </h1>
    <h2>Class: <%= character.class %></h2>
    <h2>Species: <%= character.species %></h2>
    
    </div>
    
    
    <%- include('../partials/characterStats') %>
    
    
    <h3 class="h3">Max HP: <%= character.max_hp %></h3>
    <div class="h3"><h3>AC: <%= character.ac %></h3></div>
    
    
    <h3>Resistances</h3>
        <ul>
            <ul id="resistancesList">
                <% for (let i = 0; i < character.resistances.length ; i++) { %>
                    <% console.log(character) %>
                    <li> <%= character.resistances[i] %> <form action= "/character/<%= character.id%>/remove/resistance/<%= character.resistances[i]%>" method="POST"><button class="btn btn-danger"id="remove-resistance">x</button></form></li>
                <% } %>
            
            </ul>
        </ul>
    
    <%- include('../partials/resistancesForm', {allDamageTypes: allDamageTypes}) %>
    
    <%- include('../partials/abilitiesForm.ejs', {character: character}) %>

    <%- include('../partials/maxHPForm') %>

    <%- include('../partials/armorClassForm') %>
    

    


    <div class="container-md border px-2">
        <form action='/character/delete/<%= character.id %>' method="POST">
            <button class='btn-danger'>Delete Character</button>
        </form>


</div>

<div class="container-md border px-2">
    <form action='/character/duplicate/<%= character.id %>' method="POST">
        <label for="newName">Name</label>
        <input type="text" name="newName"required value="<%= character.name %>">
        <button class='btn-primary'>Duplicate Character</button>
    </form>

    
</div>

<div class="container-md border px-2">
    <h3 class="h3">Rooms:</div>
        <ul>
            <% for (let r of rooms) { %>
                <li><a href="/room/<%= r.id %>"><%= r.name %></a></li>
                <%}%>
        </ul>
</div>

