<%- include('../partials/head') %>
<%- include('../partials/loggedInNavbar') %>

<div class="container-md">
    <h1>Create New Character</h1>
    <% if (messages) { %>
        <%= messages.error %>
    <% } %>
    <form class="form" action="characters/create" method="POST">
        <div>
            <label class="form-label h4 py-2"for="name">Name</label>
            <input class="form-control required" type="text" id="name" name="name"required>
        </div>
        <div>
            <label class="form-label h4 py-2" for="class">Class</label>
            <input class="form-control"type="text" id="class" name="class">
        </div>
        <div>
            <label class="form-label h4 py-2" for="species">Species</label>
            <input class="form-control" type="text" id="species" name="species">
        </div>
    
        <button class="btn btn-primary py-2 my-2 border-3 border-secondary shadow-lg" type="submit">Create Character</button>
    
    </form>
    
    <h2>Your Characters</h2>
    <ul id="rooms-list">
        <% if (characters.length == 0) { %>
            <div class="p">You haven't created any characters yet</div>
            <% } %>
        <% for (let i = 0; i <characters.length ; i++) { %>
            <li> <a href="/character/<%=characters[i].id%>"><%= characters[i].name %></a>   </li>
        <% } %>
    </ul>
    
    
    </ul></div>
