<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<h1>Room Id:<%= room.id %> </h1>
<h2>Room Name: <%= room.name %></h2>

<h3>Players</h3>
<ul id="players">
  <% for (let i = 0; i <players.length ; i++) { %>
      <li> <a href="/character/<%=players[i].id%>"><%= players[i].name %></a> </li>
  <% } %>
</ul>
<!-- Insert div of chatroom -->

<form action='/room/delete/<%= room.id %>' method="POST">
  <button class='delete'>Delete Room</button>
</form>

<a href="/user/characters">Characters</a>
<a href="/user/rooms">Rooms</a>