<%- include('../partials/head') %>
<%- include('../partials/loggedInNavbar') %>
<div class="container">

<h1>Rooms</h1>
<% if (messages) { %>
    <%= messages.error %>
<% } %>
<h2>Join Room</h2>
<form action="/room/join" method="POST">
    <div>
        <label class="form-label"for="room_id">Join with Room ID</label>
        <input type="number" id="room_id" name="room_id"required>
    </div>

    <button class="btn btn-primary" type="submit">Join Room</button>

</form>
<h2>Create Room</h2>
<form class="form"action="rooms/create" method="POST">
    <div>
        <label class="form-label" for="name">Room Name</label>
        <input type="text" id="name" name="name"required>
    </div>

    <button class="btn btn-primary"type="submit">Create Room</button>

</form>

<h2>Created Rooms:</h2>
<ul id="rooms-list">
    <% if (userRooms.length == 0 || userRooms.length == null) { %>
        <li>You haven't made any rooms yet</li>
    <% }%>
    <% for (let i = 0; i <userRooms.length ; i++) { %>
        <li> <a href="/room/<%=userRooms[i].id%>"><%= userRooms[i].name %></a> </li>
    <% } %>
</ul>

<h2>Joined Rooms:</h2>
<ul id="joined">
    <% if (joinedRooms.length == 0 || joinedRooms.length == null) { %>
        <li>You haven't joined any rooms yet</li>
    <% }%>
    <% for (let i = 0; i <joinedRooms.length ; i++) { %>
        <li> <a href="/room/<%=joinedRooms[i].id%>"><%= joinedRooms[i].name %></a> </li>
    <% } %>
</ul>

<a href="/user">Home</a>

</div>
